{% extends 'registration/base.html' %}

{% block content %}
    <div id="login">
        <h3 class="text-center text-white pt-5">Login</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        {% if form.errors %}
                            <p class="bg-danger p-2">Please login with your credentials.</p>
                        {% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p class="bg-warning p-1">Your account doesn't have access.</p>
                            {% else %}
                                <p class="bg-secondary">Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                        <form id="login-form" class="form" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">{{ form.username.label_tag }} </label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">{{ form.password.label_tag }} </label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="login" name="submit" class="btn btn-info btn-md">
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}