{% extends 'base/base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container" style="min-height: 100vh;">

        <div class="row">
            <div class="col-lg-8">
                <h1 class="mt-4">{{ page.title }}</h1>
                <p class="lead">by <a href="#">{{ page.owner }}</a></p>
                <hr>
                <p>{{ page.first_published_at }}</p>
                <hr>
                <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
                <hr>
                <p class="lead">{{ page.body|richtext }}</p>
                <hr>
            </div>
            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">Tags</h5>
                    <div class="card-body">
                    {% if page.tags.count %}
                        {% for tag in page.tags.all %}
                            {# Loop through all the existing tags #}
                            <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
         <div class="row">
        {% for section_items in page.section_page %}
                <div class="col-md-4 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ section_items.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <a href="{% pageurl section_items %}" class="card-link">More</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
         </div>
    </div>
{% endblock %}