{% extends 'base/base.html' %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
    <!-- Masthead -->
    <header class="text-red text-center">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
            </div>
        </div>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            {% for section in self.get_children.specific %}
                <div class="col-md-4">
                    {{ section.title }}
                    {{ section.body|richtext }}
                    <p><a class="btn btn-secondary" href="{% pageurl section %}" role="button">More view</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}