{% extends 'base/base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <main class="container">
        {% for article in page.get_children %}
            <article class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{ article.specific.title }}</h3>
                    <p>{{ article.specific.body|richtext }}</p>
                    <a class="btn btn-primary"
                       href="{% pageurl article %}">{{ article.specific.title }}</a>
                </div>
            </article>
            <hr>
        {% endfor %}
    </main>
{% endblock %}