<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  {% load static wagtailuserbar menus_tags %}
  {% get_menu "main" as navegation %}
  <meta charset="utf-8" />
  <title>{% spaceless %}
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  {% endspaceless %}</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% block content %}{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>
